<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/categoryDesign/templateAdmin.html::header}"></head>
<body>
    <div th:insert="~{admin/categoryDesign/templateAdmin.html::nav_user}"></div>
    <div th:insert="~{admin/categoryDesign/templateAdmin.html::nav_admin}"></div>

    <div class="container mt-5">
        <h1>Crear Nueva Categoría</h1>
        <form th:action="@{/admin/categorias/crear/guardar}" method="post" class="row g-3">
            <div class="col-md-6">
                <label for="nameCategoryDesign" class="form-label">Nombre de la Categoría</label>
                <input type="text" class="form-control" id="nameCategoryDesign" name="nameCategoryDesign" placeholder="Nombre de la Categoría" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>

    <div th:insert="~{admin/categoryDesign/templateAdmin.html::script}"></div>
</body>
</html>
