<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/categoryDesign/templateAdmin.html::header}"></head>
<body>
    <div th:insert="~{admin/categoryDesign/templateAdmin.html::nav_user}"></div>
    <div th:insert="~{admin/categoryDesign/templateAdmin.html::nav_admin}"></div>

    <div class="container mt-5">
        <h1>Categorías</h1>
        <a class="btn btn-primary" th:href="@{/admin/categorias/crear}">Crear Nueva Categoría</a>

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre la lista de categorías -->
                <tr th:each="category : ${categoryDesigns}">
                    <td th:text="${category.nameCategoryDesign}">Nombre de la Categoría</td>
                    <td>
                        
                        <form th:action="@{/admin/categorias/eliminar/{id}(id=${category.idCategoryDesign})}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="~{admin/categoryDesign/templateAdmin.html::script}"></div>
</body>
</html>
