<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/appointment/templateAdmin.html::header}"></head>
<body>
    <div th:insert="~{admin/appointment/templateAdmin.html::nav_user}"></div>
    <div th:insert="~{admin/appointment/templateAdmin.html::nav_admin}"></div>

    <div class="container mt-5">
        <h1 class="text-center">Editar Cita</h1>

        <form th:action="@{/api/admin/citas/editar/{id}(id=${appointment.idAppointment})}" method="post" class="mt-4">
           
            <input type="hidden" name="id" th:value="${appointment.idAppointment}" />

            <h3>Datos Usuario</h3>
            <div class="form-group">
                <label for="customerEmail">Correo del Cliente:</label>
                <input type="email" class="form-control" id="customerEmail" name="customerEmail" th:value="${appointment.customerEmail}" />
            </div>
            <br>
            <h3>Datos de la cita</h3>
            <div class="form-group">
                <label for="date">Fecha:</label>
                <input type="date" class="form-control" id="date" name="date" th:value="${#dates.format(appointment.date, 'yyyy-MM-dd')}" required />
            </div>
            <br>
            <div class="form-group">
                <label for="time">Hora:</label>
                <input type="time" class="form-control" id="time" name="time" th:value="${appointment.time}" required />
            </div>
            <br>
            <div class="form-group">
                <label for="price">Precio acordado:</label>
                <input type="text" class="form-control" id="price" name="price" th:value="${appointment.price}" />
            </div>
            <br>
            <h3>Datos Diseño</h3>

            <div class="form-group">
                <label for="design">Diseño (opcional):</label>
                <select id="design" class="form-control" name="design">
                    <option value="" th:selected="${appointment.design == null}">Seleccionar</option>
                    <option th:each="design : ${designs}" th:value="${design.title}" th:text="${design.title}" th:selected="${design.title == appointment.design}"></option>
                </select>
            </div>
            <br>
            
            <div class="form-group">
                <label for="tattooSize">Tamaño del Tatuaje:</label>
                <input type="text" class="form-control" id="tattooSize" name="tattooCm" th:value="${appointment.tattooCm}" required/>
            </div>
            <br>
            <div class="col-md-12 py-3 py-md-0">
                <select class="form-control" name="body" required>
                    <option value="" disabled selected>Selecciona la zona del cuerpo*</option>
                    <option value="Brazo" th:selected="${appointment.body == 'Brazo'}">Brazo</option>
                    <option value="Pierna" th:selected="${appointment.body == 'Pierna'}">Pierna</option>
                    <option value="Espalda" th:selected="${appointment.body == 'Espalda'}">Espalda</option>
                    <option value="Pecho" th:selected="${appointment.body == 'Pecho'}">Pecho</option>
                    <option value="Otro" th:selected="${appointment.body == 'Otro'}">Otro</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="linkReference">Links de referencia (opcional):</label>
                <input type="text" class="form-control" id="linkReference" name="linkReference" th:value="${appointment.linkReference}" />
            </div>
            <br>
            <div class="form-group">
                <label for="customDesignDescription">Descripción del Diseño Personalizado:</label>
                <textarea id="customDesignDescription" class="form-control" name="message" rows="3" th:text="${appointment.message}"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Actualizar Cita</button>
        </form>
    </div>

    <div th:insert="~{admin/appointment/templateAdmin.html::script}"></div>
</body>
</html>
