<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/appointment/templateAdmin.html::header}"></head>
<body>
    <div th:insert="~{admin/appointment/templateAdmin.html::nav_user}"></div>
    <div th:insert="~{admin/appointment/templateAdmin.html::nav_admin}"></div>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Citas</h1>
        <a class="btn btn-primary mb-4" th:href="@{/admin/crear-citas}">Crear Cita</a>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Correo del Cliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="appointment : ${appointments}">
                        <td th:text="${#dates.format(appointment.date, 'yyyy-MM-dd')}"></td>
                        <td th:text="${appointment.time}"></td>
                        <td th:text="${appointment.customerEmail}"></td>
                        <td>
                            <a class="btn btn-info btn-sm" th:href="@{/admin/citas/verDetalles/{id}(id=${appointment.idAppointment})}">Ver Detalles</a>
                            <a class="btn btn-warning btn-sm" th:href="@{/admin/citas/editar/{id}(id=${appointment.idAppointment})}">Editar</a>
                            <form th:action="@{/admin/citas/eliminar/{id}(id=${appointment.idAppointment})}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:insert="~{admin/appointment/templateAdmin.html::script}"></div>
</body>
</html>
