<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/templateAdmin.html::header}">
</head>
<body>
    <div th:insert="~{admin/templateAdmin.html::nav_user}"></div>
    <div th:insert="~{admin/templateAdmin.html::nav_admin}"></div>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Detalles de la Cita</h1>

        <div class="card">
            <div class="card-body">
                <h3>Datos del Usuario</h3>
                <p><strong>Correo del Cliente:</strong> <span th:text="${appointment.customerEmail}"></span></p>
                <hr>
                <h3>Datos de la Cita</h3>
                <p><strong>Fecha:</strong> <span th:text="${#dates.format(appointment.date, 'yyyy-MM-dd')}"></span></p>
                <p><strong>Hora:</strong> <span th:text="${appointment.time}"></span></p>
                <p><strong>Precio:</strong> <span th:text="${appointment.price}"></span></p>
                <hr>
                <h3>Datos del Tatuaje</h3>
                <p><strong>Diseño:</strong> <span th:text="${appointment.design != null ? appointment.design : 'No especificado'}"></span></p>
                <p><strong>Tamaño del Tatuaje:</strong> <span th:text="${appointment.tattooCm}"></span></p>
                <p><strong>Zona del Cuerpo:</strong> <span th:text="${appointment.body}"></span></p>
                <p><strong>Links de Referencia:</strong> <span th:text="${appointment.linkReference != null ? appointment.linkReference : 'No especificado'}"></span></p>
                <p><strong>Descripción del Diseño Personalizado:</strong></p>
                <p th:text="${appointment.message != null ? appointment.message : 'No especificado'}"></p>
            </div>
        </div>

        <div class="mt-4">
            <a class="btn btn-secondary" th:href="@{/admin/citas}">Volver a la lista de citas</a>
        </div>
    </div>

    <div th:insert="~{admin/templateAdmin.html::script}"></div>
</body>
</html>
