<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{user/templateUser.html::header}"></head>

<body>
    <header th:insert="~{user/templateUser.html::nav_user}"></header>

    <main class="main">
        <section class="home section" id="home">
            <img src="./images/tatto-banner.png" alt="home image" class="home__bg">
            <div class="home__shadow"></div>

            <div class="home__container container grid">
                <div class="home__data">
                    <h3 class="home__subtitle">
                        Bienvenido a KunturTattoo
                    </h3>
                    <h1 class="home__title">
                        Explora <br>
                        Nuestro contenido
                    </h1>

                    <p class="home__description">
                        Donde el Arte y la Autenticidad se Fusionan
                    </p>

                    <a th:href="@{/diseños}" class="button" >
                        Ver todas las categorias<i class="ri-arrow-right-line"></i>
                    </a>
                </div>

                <div class="home__cards grid">
                    <!-- Itera sobre las categorías -->
                    <div th:each="category : ${categories}">
                        <article class="home__card">
                            <img th:src="@{'/images/' + ${category.image}}" alt="home image" class="home__card-img">
                            <h3 class="home__card-title" th:text="${category.nameCategoryDesign}">Categoría</h3>
                            <div class="home__card-shadow"></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Diseños -->
        <section class="designs section" id="designs">
            <h2 class="section__title">Diseños</h2>

            <nav>
                <a th:href="@{/diseños}" th:classappend="${selectedCategoryId == null} ? 'active' : ''">Todos</a>
                <a th:each="category : ${categories}" 
                   th:href="@{diseños(categoryId=${category.idCategoryDesign})}" 
                   th:text="${category.nameCategoryDesign}" 
                   th:classappend="${selectedCategoryId == category.idCategoryDesign} ? 'active' : ''"></a>
            </nav>

            <div class="gallery">
                <!-- Itera sobre los diseños -->
                <div class="image" th:each="design : ${designs}">
                    <span>
                        <img th:src="@{'/images/' + ${design.image}}" th:alt="${design.title}" class="design-image">
                    </span>
                </div>
            </div>
        </section>
    </main>

    <div th:insert="~{user/templateUser.html::footer}"></div>
    <div th:insert="~{user/templateUser.html::script}"></div>
</body>

</html>
