<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">

    <title>KunturTattoo</title>
</head>

<header class="header" id="header" th:fragment="nav_user">
    
    <nav class="nav container">
        <a th:href="@{/KunturTattoo}" class="nav__logo">
            KunturTattoo
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a th:href="@{/KunturTattoo}" class="nav__link">Inicio</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/KunturTattoo/diseños}" class="nav__link">Galeria</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/KunturTattoo/contacto}" class="nav__link">Contacto</a>
                </li>
            </ul>


            <!--Close button-->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <!-- Toggle button-->
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-fill"></i>
        </div>

    </nav>
    <!--
    <nav class="nav container">

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a th:href="@{/admin}" class="nav__link">Diseños</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/admin/categorias}" class="nav__link">Categorias diseños</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/admin/usuarios}" class="nav__link">Usuarios</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/admin/citas}" class="nav__link">Citas</a>
                </li>
            </ul>


            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-fill"></i>
        </div>

    </nav>
-->
</header>

<!--==================== FOOTER ====================-->
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer__container container grid">
            <div class="footer__content grid">
                <div>
                    <a href="#" class="footer__logo">KunturTatto</a>
                    <p class="footer__description">
                        Travel with us and explore <br>
                        the world without limits.
                    </p>
                </div>

                <div class="footer__data grid">
                    <div>
                        <h3 class="footer__title">About</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Features</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">News & Blog</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Company</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">FAQs</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">History</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Testimonials</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Contact</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Call Center</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Support Center</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Support</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Terms & Services</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Payments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer__group">
                <div class="footer__social">
                    <a href="#" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-line"></i>
                    </a>

                    <a href="#" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                    </a>

                    <a href="#" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-line"></i>
                    </a>

                    <a href="#" target="_blank" class="footer__social-link">
                        <i class="ri-youtube-line"></i>
                    </a>
                </div>

                <span class="footer__copy">
                    &#169; Copyright Jordi Camacho. All rights reserved
                </span>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="script">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/scrollreveal.min.js}"></script>
</div>
